[submodule "src/external/boost"]
	path = src/external/boost
url=https://github.com/boostorg/boost.git
[submodule "src/external/okonomi-shadercompiler"]
	path = src/external/okonomi-shadercompiler
	url = https://github.com/kittikun/okonomi-shadercompiler.git